.img{
    background-image: url(../../../public/imgs/blog2.jpg);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;
}